<div>
    <h1>Sign In</h1>
    <form >   
        <p>
            <mat-form-field class="sign_in_form">
                <input matInput placeholder="Username">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="sign_in_form">
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
        </p> 
        <p>
            <button mat-raised-button color="primary">
                Sign In
            </button>
        </p> 
    </form>
</div>